<%- include('includes/head') %>

<body>
  <section class="container">
      <h1><%= umaVariavelLocal%></h1>
    <!-- <h1> -->
      <!-- <% if(typeof titulo !=='undefined' ) { %> -->
      <!--   <%= titulo %> -->
      <!--     <% }%> -->
      <!-- <% numeros.forEach(num=> { %> -->
      <!--   <%= num %> -->
      <!--     <% }) %> -->

            <!-- <%= titulo %><br> -->
            <!-- <%- titulo %> -->
    <!-- </h1> -->
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button>Submit</button>
    </form>
  </section>

  <%- include('includes/footer') %>

