<div class="product-page">
  <a href="/products">Return</a>
  <h1>{{product.name}}</h1>
  <p>Price R${{product.price}}</p>
  <img src="{{product.image}}" alt="{{product.name}}">
  <p>{{product.description}}</p>
</div>
