<h1>Edit Product</h1>
<form action="/products/edit" method="post">
  <input type="hidden" name="id" value="{{product._id}}">
  <div class="form-control">
    <label for="name">Name of the product:</label>
    <input type="text" name="name" placeholder="Enter the product's name" value="{{product.name}}">
  </div>

  <div class="form-control">
    <label for="image">Image of the product:</label>
    <input type="text" name="image" placeholder="Enter the URL of the image" value="{{product.image}}">
  </div>

  <div class="form-control">
    <label for="price">Price of the product:</label>
    <input type="text" name="price" placeholder="Enter the price of the product" value="{{product.price}}">
  </div>

  <div class="form-control">
    <label for="description">Description</label>
    <textarea name="description" placeholder="Product's Description">{{product.description}}</textarea>
  </div>

  <input type="submit" value="edit" class="btn">
</form>
